## Contents  
- import data
- descriptive stats  
- checking missing values  
- checking duplicates  
- checking mixed data types  
- exporting descriptive stats and df

In [1]:
import pandas as pd
import numpy
import os

### file path

In [2]:
path = r"C:\Users\Kieran\Documents\Career Foundry\Data Immersion\6.0 Advanced Analyics & Dashboard Design"

### import

In [4]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'owid-covid-data.csv'))

### descriptive stats

In [5]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [6]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
count,7.113200e+04,71130.000000,70129.000000,6.204200e+04,62200.000000,70129.000000,70743.000000,70741.000000,69745.000000,61666.000000,...,65767.000000,44924.000000,66378.000000,67205.000000,52239.000000,51522.000000,33307.000000,60818.000000,68508.000000,66356.000000
mean,6.103038e+05,5109.051877,5131.414753,1.839244e+04,131.258312,115.316814,7184.535113,64.944346,64.950417,171.505223,...,19133.936440,13.254454,257.078208,7.793192,10.559859,32.650516,51.026669,3.037754,73.139281,0.728075
std,4.307989e+06,32188.369355,31962.503934,1.071786e+05,720.746544,658.148402,14237.044319,166.387574,139.749039,306.793386,...,19682.020009,19.912092,118.380478,3.930538,10.412900,13.462524,31.769077,2.467991,7.550784,0.150146
min,1.000000e+00,-46076.000000,-1121.714000,1.000000e+00,-1918.000000,-232.143000,0.001000,-2153.437000,-276.825000,0.001000,...,661.240000,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000
25%,7.060000e+02,1.000000,5.714000,3.500000e+01,0.000000,0.000000,137.193000,0.126000,0.975000,5.452000,...,4466.507000,0.500000,167.295000,5.290000,1.900000,21.600000,20.859000,1.300000,67.440000,0.602000
50%,7.577000e+03,57.000000,69.143000,2.375000e+02,2.000000,1.000000,1020.643000,6.124000,8.136000,29.653000,...,12951.839000,2.000000,242.648000,7.110000,6.300000,31.400000,49.839000,2.400000,74.530000,0.748000
75%,8.260275e+04,656.000000,684.571000,2.245750e+03,16.000000,12.000000,6546.374500,54.510000,61.746000,180.934500,...,27216.445000,21.200000,329.635000,10.080000,19.300000,41.100000,83.241000,4.000000,78.730000,0.848000
max,1.144426e+08,879905.000000,738686.000000,2.538808e+06,17845.000000,14379.286000,140930.564000,8652.658000,2648.773000,2180.447000,...,116935.600000,77.600000,724.417000,30.530000,44.000000,78.100000,98.999000,13.800000,86.750000,0.957000

In [31]:
df.shape

(72096, 59)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72096 entries, 0 to 72095
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               72096 non-null  object
 1   continent                              68516 non-null  object
 2   location                               72096 non-null  object
 3   date                                   72096 non-null  object
 4   total_cases                            71132 non-null  float64
 5   new_cases                              71130 non-null  float64
 6   new_cases_smoothed                     70129 non-null  float64
 7   total_deaths                           62042 non-null  float64
 8   new_deaths                             62200 non-null  float64
 9   new_deaths_smoothed                    70129 non-null  float64
 10  total_cases_per_million                70743 non-null  float64
 11  new_cases_per_million                  70741 non-null  float64
 12  new_cases_smoothed_per_million         69745 non-null  float64
 13  total_deaths_per_million               61666 non-null  float64
 14  new_deaths_per_million                 61824 non-null  float64
 15  new_deaths_smoothed_per_million        69745 non-null  float64
 16  reproduction_rate                      58005 non-null  float64
 17  icu_patients                           7613 non-null   float64
 18  icu_patients_per_million               7613 non-null   float64
 19  hosp_patients                          9157 non-null   float64
 20  hosp_patients_per_million              9157 non-null   float64
 21  weekly_icu_admissions                  717 non-null    float64
 22  weekly_icu_admissions_per_million      717 non-null    float64
 23  weekly_hosp_admissions                 1182 non-null   float64
 24  weekly_hosp_admissions_per_million     1182 non-null   float64
 25  new_tests                              32862 non-null  float64
 26  total_tests                            32708 non-null  float64
 27  total_tests_per_thousand               32708 non-null  float64
 28  new_tests_per_thousand                 32862 non-null  float64
 29  new_tests_smoothed                     37463 non-null  float64
 30  new_tests_smoothed_per_thousand        37463 non-null  float64
 31  positive_rate                          36226 non-null  float64
 32  tests_per_case                         35675 non-null  float64
 33  tests_units                            38760 non-null  object
 34  total_vaccinations                     2982 non-null   float64
 35  people_vaccinated                      2523 non-null   float64
 36  people_fully_vaccinated                1649 non-null   float64
 37  new_vaccinations                       2519 non-null   float64
 38  new_vaccinations_smoothed              4376 non-null   float64
 39  total_vaccinations_per_hundred         2982 non-null   float64
 40  people_vaccinated_per_hundred          2523 non-null   float64
 41  people_fully_vaccinated_per_hundred    1649 non-null   float64
 42  new_vaccinations_smoothed_per_million  4376 non-null   float64
 43  stringency_index                       61934 non-null  float64
 44  population                             71698 non-null  float64
 45  population_density                     67385 non-null  float64
 46  median_age                             65589 non-null  float64
 47  aged_65_older                          64833 non-null  float64
 48  aged_70_older                          65219 non-null  float64
 49  gdp_per_capita                         65767 non-null  float64
 50  extreme_poverty                        44924 non-null  float64
 51  cardiovasc_death_rate                  66378 non-null  float64
 52  diabetes_prevalence                    67205 non-null  float64
 53  female_smokers                         52239 non-null  float64
 54  male_smokers                           51522 non-null  float64
 55  handwashing_facilities                 33307 non-null  float64
 56  hospital_beds_per_thousand             60818 non-null  float64
 57  life_expectancy                        68508 non-null  float64
 58  human_development_index                66356 non-null  float64
dtypes: float64(54), object(5)
memory usage: 32.5+ MB

In [8]:
df.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
72091,ZWE,Africa,Zimbabwe,25/02/2021,35994.0,34.0,64.429,1458.0,2.0,5.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
72092,ZWE,Africa,Zimbabwe,26/02/2021,36044.0,50.0,47.714,1463.0,5.0,4.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
72093,ZWE,Africa,Zimbabwe,27/02/2021,36058.0,14.0,41.429,1463.0,0.0,4.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
72094,ZWE,Africa,Zimbabwe,28/02/2021,36089.0,31.0,41.857,1463.0,0.0,3.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
72095,ZWE,Africa,Zimbabwe,01/03/2021,36115.0,26.0,36.143,1468.0,5.0,3.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

#### replace nan with 0's

In [9]:
df.fillna(0)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,0.000,0.0,0.0,0.000,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,0.000,0.0,0.0,0.000,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,0.000,0.0,0.0,0.000,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,0.000,0.0,0.0,0.000,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,0.000,0.0,0.0,0.000,...,1803.987,0.0,597.029,9.59,0.0,0.0,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72091,ZWE,Africa,Zimbabwe,25/02/2021,35994.0,34.0,64.429,1458.0,2.0,5.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
72092,ZWE,Africa,Zimbabwe,26/02/2021,36044.0,50.0,47.714,1463.0,5.0,4.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
72093,ZWE,Africa,Zimbabwe,27/02/2021,36058.0,14.0,41.429,1463.0,0.0,4.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
72094,ZWE,Africa,Zimbabwe,28/02/2021,36089.0,31.0,41.857,1463.0,0.0,3.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
72095,ZWE,Africa,Zimbabwe,01/03/2021,36115.0,26.0,36.143,1468.0,5.0,3.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

#### checking missing values

In [10]:
df.isnull().sum()

iso_code                                     0
continent                                 3580
location                                     0
date                                         0
total_cases                                964
new_cases                                  966
new_cases_smoothed                        1967
total_deaths                             10054
new_deaths                                9896
new_deaths_smoothed                       1967
total_cases_per_million                   1353
new_cases_per_million                     1355
new_cases_smoothed_per_million            2351
total_deaths_per_million                 10430
new_deaths_per_million                   10272
new_deaths_smoothed_per_million           2351
reproduction_rate                        14091
icu_patients                             64483
icu_patients_per_million                 64483
hosp_patients                            62939
hosp_patients_per_million                62939
weekly_icu_admissions                    71379
weekly_icu_admissions_per_million        71379
weekly_hosp_admissions                   70914
weekly_hosp_admissions_per_million       70914
new_tests                                39234
total_tests                              39388
total_tests_per_thousand                 39388
new_tests_per_thousand                   39234
new_tests_smoothed                       34633
new_tests_smoothed_per_thousand          34633
positive_rate                            35870
tests_per_case                           36421
tests_units                              33336
total_vaccinations                       69114
people_vaccinated                        69573
people_fully_vaccinated                  70447
new_vaccinations                         69577
new_vaccinations_smoothed                67720
total_vaccinations_per_hundred           69114
people_vaccinated_per_hundred            69573
people_fully_vaccinated_per_hundred      70447
new_vaccinations_smoothed_per_million    67720
stringency_index                         10162
population                                 398
population_density                        4711
median_age                                6507
aged_65_older                             7263
aged_70_older                             6877
gdp_per_capita                            6329
extreme_poverty                          27172
cardiovasc_death_rate                     5718
diabetes_prevalence                       4891
female_smokers                           19857
male_smokers                             20574
handwashing_facilities                   38789
hospital_beds_per_thousand               11278
life_expectancy                           3588
human_development_index                   5740
dtype: int64

Lots of missing values acorss the dataset. This is likely becuase of different reporting practises across countries. Not neccesarily a problem but worth knowing for future analysis. I will check the data that is missing continent records.

In [11]:
df_nocont = df[df['continent'].isnull()]

In [12]:
df_nocont.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
372,OWID_AFR,NaN,Africa,13/02/2020,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373,OWID_AFR,NaN,Africa,14/02/2020,1.0,1.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,OWID_AFR,NaN,Africa,15/02/2020,1.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,OWID_AFR,NaN,Africa,16/02/2020,1.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,OWID_AFR,NaN,Africa,17/02/2020,1.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_nocont['iso_code'].value_counts(dropna = False)

OWID_WRL    405
OWID_NAM    405
OWID_ASI    405
OWID_EUR    404
OWID_EUN    404
OWID_OCE    402
OWID_INT    389
OWID_AFR    383
OWID_SAM    374
OWID_NCY      9
Name: iso_code, dtype: int64

It looks like the records with no continent values are where the data provider (OWID) has put together all data for a continent.

#### checking for duplicates

In [15]:
df_dup = df[df.duplicated()]
df_dup

Empty DataFrame
Columns: [iso_code, continent, location, date, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, new_cases_smoothed_per_million, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million, reproduction_rate, icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million, new_tests, total_tests, total_tests_per_thousand, new_tests_per_thousand, new_tests_smoothed, new_tests_smoothed_per_thousand, positive_rate, tests_per_case, tests_units, total_vaccinations, people_vaccinated, people_fully_vaccinated, new_vaccinations, new_vaccinations_smoothed, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, new_vaccinations_smoothed_per_million, stringency_index, population, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, diabetes_prevalence, female_smokers, male_smokers, handwashing_facilities, hospital_beds_per_thousand, life_expectancy, human_development_index]
Index: []

[0 rows x 59 columns]

#### checking for mixed data types

In [16]:
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

continent
tests_units

In [17]:
df['continent'].value_counts(dropna = False)

Africa           18950
Europe           17439
Asia             17244
North America     8444
South America     4404
NaN               3580
Oceania           2035
Name: continent, dtype: int64

I think because I replaced na values with 0's earlier I have made this a mixed data type column. I will change to object.

In [23]:
df['continent'] = df['continent'].astype('object')

In [25]:
df['tests_units'].value_counts(dropna = False)

NaN                33336
tests performed    23368
people tested       8050
samples tested      6579
units unclear        763
Name: tests_units, dtype: int64

In [28]:
df['tests_units'] = df['tests_units'].astype('object')

In [30]:
df.dtypes

iso_code                                  object
continent                                 object
location                                  object
date                                      object
total_cases                              float64
new_cases                                float64
new_cases_smoothed                       float64
total_deaths                             float64
new_deaths                               float64
new_deaths_smoothed                      float64
total_cases_per_million                  float64
new_cases_per_million                    float64
new_cases_smoothed_per_million           float64
total_deaths_per_million                 float64
new_deaths_per_million                   float64
new_deaths_smoothed_per_million          float64
reproduction_rate                        float64
icu_patients                             float64
icu_patients_per_million                 float64
hosp_patients                            float64
hosp_patients_per_million                float64
weekly_icu_admissions                    float64
weekly_icu_admissions_per_million        float64
weekly_hosp_admissions                   float64
weekly_hosp_admissions_per_million       float64
new_tests                                float64
total_tests                              float64
total_tests_per_thousand                 float64
new_tests_per_thousand                   float64
new_tests_smoothed                       float64
new_tests_smoothed_per_thousand          float64
positive_rate                            float64
tests_per_case                           float64
tests_units                               object
total_vaccinations                       float64
people_vaccinated                        float64
people_fully_vaccinated                  float64
new_vaccinations                         float64
new_vaccinations_smoothed                float64
total_vaccinations_per_hundred           float64
people_vaccinated_per_hundred            float64
people_fully_vaccinated_per_hundred      float64
new_vaccinations_smoothed_per_million    float64
stringency_index                         float64
population                               float64
population_density                       float64
median_age                               float64
aged_65_older                            float64
aged_70_older                            float64
gdp_per_capita                           float64
extreme_poverty                          float64
cardiovasc_death_rate                    float64
diabetes_prevalence                      float64
female_smokers                           float64
male_smokers                             float64
handwashing_facilities                   float64
hospital_beds_per_thousand               float64
life_expectancy                          float64
human_development_index                  float64
dtype: object

### Exporting descriptive stats

In [33]:
df.describe().to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_descriptive_stats.csv'))

### Exporting df

In [34]:
df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'covid_full.csv'))