### Contents  
- import libraries and data  
- set up map of stringency levels  
- Create a dataframe with just countries and total_deaths_per_million  
- Choropleth of deaths per million in countries with high stringency

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os
import folium

In [2]:
%matplotlib inline

In [3]:
path = r"C:\Users\Kieran\Documents\Career Foundry\Data Immersion\6.0 Advanced Analyics & Dashboard Design"

In [4]:
# import data

df = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_Flags_3.csv'))

In [5]:
df.head()

,iso_code,continent,location,date,new_cases_smoothed_per_million,total_deaths_per_million,hosp_patients_per_million,people_vaccinated_per_hundred,handwashing_facilities,human_development_index,...,aged_70_older,aged_65_older,population_density,population,median_age,cardiovasc_death_rate,diabetes_prevalence,extreme_poverty,stringency_category,aged_over_65
0,AFG,Asia,Afghanistan,24/02/2020,NaN,NaN,NaN,NaN,37.746,0.511,...,1.337,2.581,54.422,38928341.0,18.6,597.029,9.59,NaN,low stringency,< 5%
1,AFG,Asia,Afghanistan,25/02/2020,NaN,NaN,NaN,NaN,37.746,0.511,...,1.337,2.581,54.422,38928341.0,18.6,597.029,9.59,NaN,low stringency,< 5%
2,AFG,Asia,Afghanistan,26/02/2020,NaN,NaN,NaN,NaN,37.746,0.511,...,1.337,2.581,54.422,38928341.0,18.6,597.029,9.59,NaN,low stringency,< 5%
3,AFG,Asia,Afghanistan,27/02/2020,NaN,NaN,NaN,NaN,37.746,0.511,...,1.337,2.581,54.422,38928341.0,18.6,597.029,9.59,NaN,low stringency,< 5%
4,AFG,Asia,Afghanistan,28/02/2020,NaN,NaN,NaN,NaN,37.746,0.511,...,1.337,2.581,54.422,38928341.0,18.6,597.029,9.59,NaN,low stringency,< 5%

In [6]:
# import json

country_geo = r"C:\Users\Kieran\Documents\Career Foundry\Data Immersion\6.0 Advanced Analyics & Dashboard Design\02 Data\Original Data\countries.geo.json"

### Set up map of stringency levels

In [7]:
df['stringency_category'].value_counts(dropna=False)

high stringency         25058
very high stringency    17319
mid stringency          14195
unknown                 10162
low stringency           5362
Name: stringency_category, dtype: int64

In [8]:
hist_indicator = 'high stringency'

In [9]:
# create a mask for the map

mask1 = df['stringency_category'].str.contains(hist_indicator)

In [10]:
# apply mask

stage = df[mask1]
stage.head()

,iso_code,continent,location,date,new_cases_smoothed_per_million,total_deaths_per_million,hosp_patients_per_million,people_vaccinated_per_hundred,handwashing_facilities,human_development_index,...,aged_70_older,aged_65_older,population_density,population,median_age,cardiovasc_death_rate,diabetes_prevalence,extreme_poverty,stringency_category,aged_over_65
29,AFG,Asia,Afghanistan,24/03/2020,0.084,0.026,NaN,NaN,37.746,0.511,...,1.337,2.581,54.422,38928341.0,18.6,597.029,9.59,NaN,high stringency,< 5%
30,AFG,Asia,Afghanistan,25/03/2020,0.191,0.051,NaN,NaN,37.746,0.511,...,1.337,2.581,54.422,38928341.0,18.6,597.029,9.59,NaN,high stringency,< 5%
31,AFG,Asia,Afghanistan,26/03/2020,0.202,0.077,NaN,NaN,37.746,0.511,...,1.337,2.581,54.422,38928341.0,18.6,597.029,9.59,NaN,high stringency,< 5%
32,AFG,Asia,Afghanistan,27/03/2020,0.228,0.077,NaN,NaN,37.746,0.511,...,1.337,2.581,54.422,38928341.0,18.6,597.029,9.59,NaN,high stringency,< 5%
33,AFG,Asia,Afghanistan,28/03/2020,0.283,0.103,NaN,NaN,37.746,0.511,...,1.337,2.581,54.422,38928341.0,18.6,597.029,9.59,NaN,high stringency,< 5%

### Create a dataframe with just countries and total_deaths_per_million

In [11]:
data_to_plot = stage[['iso_code', 'total_deaths_per_million']]
data_to_plot.head()

   iso_code  total_deaths_per_million
29      AFG                     0.026
30      AFG                     0.051
31      AFG                     0.077
32      AFG                     0.077
33      AFG                     0.103

In [17]:
data_to_plot_sum = data_to_plot.groupby(['iso_code']).sum().reset_index()

In [12]:
# read the json file to see what the key is

df_json = pd.read_json(os.path.join(path, '02 Data', 'Original Data', 'countries.geo.json'))

In [13]:
df_json.head()

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'id': 'AFG', 'properties':...
1  FeatureCollection  {'type': 'Feature', 'id': 'AGO', 'properties':...
2  FeatureCollection  {'type': 'Feature', 'id': 'ALB', 'properties':...
3  FeatureCollection  {'type': 'Feature', 'id': 'ARE', 'properties':...
4  FeatureCollection  {'type': 'Feature', 'id': 'ARG', 'properties':...

In [14]:
# set up a folium map

map = folium.Map(location = [100,0], zoom_start = 1.5)

map.choropleth(geo_data = country_geo, data = data_to_plot,
              columns = ['iso_code', 'total_deaths_per_million'],
              key_on = 'feature.id',
              fill_color = 'YlOrBr', fill_opacity=0.6, line_opacity=0.1,
             legend_name = "total_deaths_per_million")

C:\Users\Kieran\anaconda3\lib\site-packages\folium\folium.py:409: FutureWarning: The choropleth  method has been deprecated. Instead use the new Choropleth class, which has the same arguments. See the example notebook 'GeoJSON_and_choropleth' for how to do this.
  warnings.warn(

In [15]:
map.save('plot_data.html')

In [16]:
from IPython.display import HTML
HTML('<iframe src=plot_data.html width=700 height=450></iframe>')

C:\Users\Kieran\anaconda3\lib\site-packages\IPython\core\display.py:717: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")

### New map with summed dates

In [19]:
map_2 = folium.Map(location= [100,0], zoom_start = 1.5)

map.choropleth(geo_data = country_geo, data = data_to_plot_sum,
              columns = ['iso_code', 'total_deaths_per_million'],
              key_on = 'feature.id',
              fill_color = 'YlOrBr', fill_opacity=0.6, line_opacity=0.1,
             legend_name = "total_deaths_per_million")

In [20]:
map_2

Well that didnt work. Not sure why. Not worth the time to investigate.